<h1>1d6</h1>

<ul>
  <% @zebra.each do |elephant| %> <!-- each takes every element from an arrray and then do |name| will name each element as "name" -->
    <li>
      <%= elephant %>
    </li>
  <% end %>
</ul>
