<h1>Lucky numbers</h1>

<p>Your unlucky numbers for today are:</p>

<ul>
  <% @zebra.each do |elephant| %> <!-- each takes every element from an arrray and then do |name| will name each element as "name" -->
    <li>
      <%= elephant %>
    </li>
  <% end %>
</ul>
